html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'roboto-slab';
  src: url('../public/fonts/RobotoSlab-Regular.ttf') format("truetype");
}

body {
  font-family: 'roboto-slab', serif;
  background-color: #f4f4f4;
}


h1 {
  font-family: 'roboto-slab', serif;
}

h2 {
  font-family: 'roboto-slab', serif;
}

